<main class="page login-page">
    {{> Header}}
    <div class="container">
		<form>
			{{#> Card modifier="login"}}
				<div class="card__content">
					<h2 class="fs-h2">Вход</h2>
					<div class="card__inputs">
						{{> Input name="login" label="Логин"}}
						{{> Input name="password" type="password" label="Пароль" modifier="float-label"}}
					</div>
				</div>
				<div class="card__controls">
					{{> Button label="Войти" type="submit"}}
					<a class="link fs-p-bold" data-page="registration">Нет аккаунта? Зарегистрируйтесь!</a>
				</div>
			{{/Card}}
		</form>
    </div>
</main>
