@use '../../styles/utils/variables' as *;
@use '../../styles/utils/mixins' as *;

.input {
	width: 100%;
	padding: 8px 12px;
	outline: none;
	border: 1px solid $gainsboro;
	border-radius: 8px;
	transition: all $transition-duration $transition-function;

	@include set-font(14px, 20px);

	@include hover {
		&:not(&:focus) {
			border: 1px solid $spanishgray;
		}
	}

	&:focus {
		outline: none;
		border: 1px solid $blue;
	}

	&__container {
		position: relative;
		display: inline-flex;
		flex-direction: column;
		gap: 4px;
		margin-top: 16px;
	}

	&__label {
		position: absolute;
		top: 9px;
		left: 13px;
		color: $spanishgray;
		pointer-events: none;
		background: white;
		transition: all $transition-function $transition-duration;

		@include set-font(14px, 20px);
	}

	&::placeholder {
		color: $spanishgray;
	}

	&__label:has(+ .input:focus),
	&__label:has(+ .input:not(:placeholder-shown)) {
		transform: translate(-13px, -25px);

		@include set-font(12px, 12px);
	}
}
