@use '../../../../styles/utils/variables' as *;
@use '../../../../styles/utils/mixins' as *;

.main__navbar {
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
	margin: 0 16px;
	border-bottom: 1px solid $brightgray;

	&__info {
		display: flex;
		gap: 8px;
		align-items: center;

		&__avatar {
			flex: none;
			width: 38px;
			height: 38px;
			overflow: hidden;
			cursor: pointer;
			border-radius: 50%;
			transition: all $transition-duration $transition-function;

			@include hover {
				opacity: 0.6;
			}

			&--default {
				width: 100%;
				height: 100%;
				background-color: $brightgray;
				border-radius: 50%;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}

		&__title {
			@include set-font(16px, 20px);
		}
	}

	.popover__action svg {
		color: $spanishgray;
		cursor: pointer;
		transition: color $transition-duration $transition-function;

		@include hover {
			color: $blue;
		}

		&.active {
			color: $blue;
		}
	}
}
