@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.button {
  display: inline-flex;
  justify-content: center;
  padding: 8px 12px;
  border: none;
  background-color: $blue;
  color: $white;
  border-radius: 8px;
  @include set-font(14px, 20px, 500);
  cursor: pointer;
  transition: opacity $transition-duration $transition-function;
  user-select: none;

  &.round {
    border-radius: 50%;
    align-items: center;
    padding: 5px;
    width: 28px;
    height: 28px;
  }

  @include hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}