<button class="button {{modifier}}" {{#if disabled}}disabled{{/if}} type="{{type}}">
    {{#if label}}
        <span>{{label}}</span>
    {{/if}}

	{{#if icon}}
        {{ icon }}
    {{/if}}
</button>
