@use '../../styles/utils/variables' as *;
@use '../../styles/utils/mixins' as *;

.button {
	display: inline-flex;
	justify-content: center;
	padding: 8px 12px;
	color: $white;
	cursor: pointer;
	user-select: none;
	background-color: $blue;
	border: none;
	border-radius: 8px;
	transition: opacity $transition-duration $transition-function;

	@include set-font(14px, 20px, 500);

	&.round {
		align-items: center;
		width: 28px;
		height: 28px;
		padding: 5px;
		border-radius: 50%;
	}

	@include hover {
		opacity: 0.8;
	}

	&:disabled {
		pointer-events: none;
		cursor: default;
		opacity: 0.5;
	}
}
