<main class="page login-page">
    <div class="container">
        <div class="error-view">
            <h1 class="fs-h1">500</h1>
            <h2 class="fs-h2">Мы уже фиксим</h2>
            {{{ LinkBack }}}
        </div>
    </div>
</main>
