<div class="page login-page">
    {{> Header}}
    <div class="container">
        <div class="error">
            <h1 class="fs-h1">500</h1>
            <h2 class="fs-h2">Мы уже фиксим</h2>
            <a class="link fs-default-bold" data-page="main">Назад к чатам</a>
        </div>
    </div>
</div>