@font-face {
  font-family: Golos;
  src: url('/media/fonts/Golos/Regular/GolosText_Regular.eot');
  src: url('/media/fonts/Golos/Regular/GolosText_Regular.eot?#iefix') format('embedded-opentype'),
  url('/media/fonts/Golos/Regular/GolosText_Regular.woff2') format('woff2');
  src: url('/media/fonts/Golos/Regular/GolosText-Regular.svg#GolosText-Regular') format('svg'),
  url('/media/fonts/Golos/Regular/GolosText-Regular.ttf') format('truetype'),
  url('/media/fonts/Golos/Regular/GolosText-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Golos;
  src: url('/media/fonts/Golos/Medium/GolosText_Medium.eot');
  src: url('/media/fonts/Golos/Medium/GolosText_Medium.eot?#iefix') format('embedded-opentype'),
  url('/media/fonts/Golos/Medium/GolosText_Medium.woff2') format('woff2');
  src: url('/media/fonts/Golos/Medium/GolosText-Medium.svg#GolosText-Medium') format('svg'),
  url('/media/fonts/Golos/Medium/GolosText-Medium.ttf') format('truetype'),
  url('/media/fonts/Golos/Medium/GolosText-Medium.woff') format('woff');

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Golos;
  src: url('/media/fonts/Golos/DemiBold/GolosText_DemiBold.eot');
  src: url('/media/fonts/Golos/DemiBold/GolosText_DemiBold.eot?#iefix') format('embedded-opentype'),
  url('/media/fonts/Golos/DemiBold/GolosText_DemiBold.woff2') format('woff2');
  src: url('/media/fonts/Golos/DemiBold/GolosText-DemiBold.svg#GolosText-DemiBold') format('svg'),
  url('/media/fonts/Golos/DemiBold/GolosText-DemiBold.ttf') format('truetype'),
  url('/media/fonts/Golos/DemiBold/GolosText-DemiBold.woff') format('woff');

  font-weight: 600;
  font-style: normal;
  font-display: swap;
}