@use 'utils/variables' as *;
@use 'utils/mixins' as *;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: $font-family-primary;
	font-size: $fs-base;
	line-height: $lh-base;
	background: $white;

	&.scroll-lock {
		overflow: hidden !important;
	}
}

.container {
	width: 100%;
	max-width: calc($container-width + 32px + 32px);
	padding: 0 32px;
	margin: 0 auto;

	&.flex {
		display: flex;
		flex: 1 1 0;
		max-width: $container-width;
		padding: 0;
	}
}
