<main class="page profile-page">
    <div class="container flex">
        <aside class="profile-page__back-section">
            <a class="link" data-page="main">
				{{{ ButtonBack }}}
            </a>
        </aside>
        <main class="container profile-page__main-section">
            {{{ ProfileSection }}}
        </main>
    </div>
</main>
