<div class="chats-main">
	{{#if selectedChat}}
		{{{ MainNavbar }}}
		<div class="chats-main__content">
			<div class="chats-main__content__message-list">
				{{{ ChatMessageGroupList }}}
			</div>
		</div>
		{{{ MainSearchbar }}}
	{{else}}
		<div class="chats-main__no-selected-chat">
			Выберите чат чтобы отправить сообщение
		</div>
	{{/if}}
</div>
