@use '../../styles/utils/variables' as *;
@use '../../styles/utils/mixins' as *;

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 999;
	min-width: 340px;
	border: none;
	border-radius: 12px;
	box-shadow: 0 0 6px $black02;
	transform: translate(-50%, -50%);

	&::backdrop {
		background: #0000001a;
		backdrop-filter: blur(10px);
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 64px;
		align-items: center;
		padding: 32px;

		.button {
			width: 100%;
		}
	}
}
