<header class="header">
    <nav class="container">
        <a class="link" data-page="login">Вход</a>
        <a class="link" data-page="registration">Регистрация</a>
        <a class="link" data-page="profile">Профиль</a>
        <a class="link" data-page="main">Чаты</a>
    </nav>
</header>