@use '../../styles/utils/variables' as *;
@use '../../styles/utils/mixins' as *;

.chats-main {
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 4px $black02;

	&__content {
		flex: 1 1 0;
		padding: 16px;
		overflow: hidden auto;

		&__message-list {
			display: flex;
			flex-direction: column;
			gap: 8px;
			justify-content: flex-end;
		}
	}
}
