<div class="chats-main">
	{{{ MainNavbar }}}
	<div class="chats-main__content">
		<div class="chats-main__content__message-list">
			{{{ ChatMessageGroupList }}}
		</div>
	</div>
	{{{ MainSearchbar }}}
</div>
