@use '../../../../styles/utils/variables' as *;
@use '../../../../styles/utils/mixins' as *;

.main-searchbar {
	position: relative;
	display: flex;
	gap: 16px;
	padding: 16px 0;
	margin: 0 16px;
	border-top: 1px solid $brightgray;

	.input__container {
		flex: 1 1 300px;
	}

	.button {
		flex: none;
	}

	.popover__action svg {
		color: $spanishgray;
		cursor: pointer;
		transition: color $transition-duration $transition-function;

		@include hover {
			color: $blue;
		}

		&.active {
			color: $blue;
		}
	}

	&__attachment-list {
		position: absolute;
		top: -101px;
		left: 0;
		display: none;
		width: 100%;
		background-color: $lotion;
		border-radius: 8px 8px 0 0;
		box-shadow:  0 -2px 4px 0 $black02;

		&.active {
			display: block;
		}
	}
}
