<main class="page login-page">
    {{> Header}}
    <div class="container">
        <div class="error-view">
            <h1 class="fs-h1">404</h1>
            <h2 class="fs-h2">Не туда попали</h2>
            <a class="link fs-default-bold" data-page="main">Назад к чатам</a>
        </div>
    </div>
</main>
