@use '../../../styles/utils/variables' as *;
@use '../../../styles/utils/mixins' as *;

.chats-aside {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 16px 8px;
	background-color: $lotion;
	box-shadow: 0 0 4px $black02;

	&__btn-add {
		position: absolute;
		right: 16px;
		bottom: 16px;
		z-index: 999;
	}
}
