<aside class="chats-aside">
	{{{ Navbar }}}
	<div class="chats-aside__chat-list">
		{{{ ChatList }}}
	</div>
	<div class="chats-aside__btn-add">
		{{{ ButtonChatAdd }}}
	</div>
	{{{ ChatAddModal }}}
</aside>
